/* -------------------------------------------------- 

Base CSS

-------------------------------------------------- */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
	color: #333;
	font: normal 18px/27px 'Fjalla One', Arial Narrow, American Typewriter, Theinhardt, Helvetica, Arial, Verdana, serif;
    margin: 0;
    padding: 5em 0 0 0;
}

h1 {
	font-size: 40px;
	line-height: 60px;
}

h2 {

}

h3 {

}

h4 {

}

h5 { 

}

ul {

}

a {
	color: #888687;
    text-decoration: none;
}

.wrapper {
    position: relative;
}

.text-white {
    color: #fff;
}

.text-grey {
    color: #63666A;
}


/* -------------------------------------------------- 

Helpers

-------------------------------------------------- */


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* -------------------------------------------------- 

Header

-------------------------------------------------- */

#top-header-box {
    background: rgba(254,254,254,0.8);
    display: block;
    margin: 0 auto;
    position: fixed;
    padding: 10px;
    height: 5em;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

/*=== Nav Panel ===*/

.top-header .menu-link {
    position: absolute;
    left: 3em;
    top: 25px;
}

.panel {
    background: rgba(0, 0, 0, .8);
    z-index: 9999;
    position: fixed;
    left: -12em; /*or width of your navigation panel*/
    width: 12em; /*should match the above value*/
}

.panel ul {
    font-size: 2.6em;
    line-height: 1.1em;
    text-transform: uppercase;
    list-style: none;
    -webkit-padding-start: 0.6em;
}

.panel a {
    display: block;
    padding: 0.3em;
}

.panel a:link,
.panel a:visited {
    color: #fff;
}

.panel a:hover,
.panel a:active {
    color: #fff;
    text-decoration: underline;
}

.nav-icon {
    margin-right: 6px;
}

.wrap {
    position: relative;
}


/*=== Logo ===*/

.top-header .logo {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 43%;
}

.top-header .logo img {
    width: auto;
    height: 50px;
}

/*=== Search icon ===*/

.top-header .search-icon {
    position: absolute;
    right: 3em;
    top: 25px;
}


/* -------------------------------------------------- 

Main Content

-------------------------------------------------- */

/*=== Main Banner Video ===*/

#main-banner-video .main-banner video {
    width: 100%;
    height: 100%;
    display: block;
}

.main-banner {
    position: relative;
}

/*=== Main Banner Menu ===*/

.main-banner-menu-items ul {
    position: absolute;
    top: 10px;
    left: 10px;
    list-style-type: none;
    text-transform: uppercase;
}

#banner-menu-items li a {
    color: #fff;
}

#banner-menu-items li a:hover {
    text-decoration: underline;
}

/*=== Carousel ===*/

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

/*=== Featured Categories ===*/

.featured-categories a {
    color: #fff;
}

.featured-categories a:hover {
    text-decoration: underline;
}

.featured-categories-col1 {
    float: left;
    width: 50%;
    min-height: 500px;
    position: relative;
}

.featured-categories-col1 .col1-A {
    background-image: url("../images/FloatConcreteTableBW.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.featured-categories-col1 .col1-A:hover {
    background-image: url("../images/FloatConcreteTable.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.featured-categories-col1 .col1-A h2 {
    position: absolute;
    top: 20px;
    left: 30px;
}

.featured-categories-col2 {
    float: left;
    width: 30%;
    min-height: 500px;
    position: relative;
}

.featured-categories-col2 .col2-A {
    background-image: url("../images/FloatCoffeeTable.jpg");
    background-size: cover;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.featured-categories-col2 .col2-A h2 {
    position: absolute;
    top: 20px;
    left: 30px;
}

.featured-categories-col2 .col2-B {
    background-image: url("../images/FloatTVStand.jpg");
    background-size: cover;
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.featured-categories-col2 .col2-B h2 {
    position: absolute;
    top: 20px;
    left: 30px;
}

.featured-categories-col3 {
    background-color: sandybrown;
    float: left;
    width: 20%;
    min-height: 500px;
    position: relative;
}

.featured-categories-col3 .col3-A {
    background-image: url("../images/FloatChair1.jpg");
    background-size: cover;
    height: 33.3333%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.featured-categories-col3 .col3-A h2 {
    position: absolute;
    top: 20px;
    left: 30px;
}

.featured-categories-col3 .col3-B {
    background-image: url("../images/FloatChair2.jpg");
    background-size: cover;
    height: 33.3333%;
    width: 100%;
    position: absolute;
    top: 33.3333%;
    left: 0;
}

.featured-categories-col3 .col3-B h2 {
    position: absolute;
    top: 20px;
    left: 30px;
}

.featured-categories-col3 .col3-C {
    background-image: url("../images/FloatChair1.jpg");
    background-size: cover;
    height: 33.3333%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.featured-categories-col3 .col3-C h2 {
    position: absolute;
    top: 20px;
    left: 30px;
}

/*=== Featured Articles and Social Media ===*/

.featured-articles-col1 {
    background-color: #EEEEEE;
    float: left;
    width: 50%;
    min-height: 100px;
}

.featured-social-col2 {
    float: left;
    width: 50%;
    min-height: 100px;
}

.Latest-posts-content-col1 {
    float: left;
    width: 50%;
    min-height: 300px;
}

.Social-media-content-col2 {
    float: left;
    width: 50%;
    min-height: 300px;
}


/* -------------------------------------------------- 

Site footer

-------------------------------------------------- */

.site-footer {
    padding: 20px;
}

/*=== Logo ===*/

.site-footer .logo img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
}

/*=== Internal + External Links ===*/

.site-footer {
    background-color: #EEEEEE;
}

.site-footer .logo {
    padding: 0px;
}

.footer-links {
    padding: 10px;
    position: relative;
}

.footer-links .footer-copyrights {
    display: block;
    margin: 0 auto;
}

.footer-links .footer-internal-external-links {
    display: block;
    margin: 0 auto;
}

.footer-links p {
    color: #888687;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
}

.footer-internal-external-links ul {
    text-align: center;
}

.footer-internal-external-links li {
    display: inline;
    list-style: none;
    padding: 5px 10px 5px 0px;
    text-align: center;
}



/* -------------------------------------------------- 

Galleries

-------------------------------------------------- */

.grid {
    max-width: 1500px;
}

.grid img {
    margin-right: 10px;
    margin-bottom: 10px;
}

