/* -------------------------------------------------- 

Base CSS

-------------------------------------------------- */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
	color: #333;
	font: normal 18px/27px 'Old Standard TT', 'Montserrat', 'Fjalla One', Arial Narrow, American Typewriter, Theinhardt, Helvetica, Arial, Verdana, serif;
    margin: 0;
    padding: 5em 0 0 0;
}

h1 {
    font-size: 4vw;
    line-height: 4vw;
}

h2 {
    font-size: 2.5vw;
    line-height: 2.5vw;
}

h3 {

}

h4 {

}

h5 { 

}

ul {

}

a {
	color: #888687;
    text-decoration: none;
}

.wrapper {
    position: relative;
}

.text-white {
    color: #fff;
}

.text-grey {
    color: #63666A;
}


/* -------------------------------------------------- 

Main Content

-------------------------------------------------- */

/*=== Main Banner ===*/

#main-banner-img img{
    width: 100%;
    height: 100%;
    display: block;
}

.main-banner {
    position: relative;
}

/*=== Main Banner Menu ===*/

.main-banner-menu-items ul {
    font-family: 'Montserrat';
    position: absolute;
    top: 10px;
    left: 5px;
    list-style-type: none;
    text-transform: uppercase;
}

#banner-menu-items li a {
    color: #fff;
}

#banner-menu-items li a:hover {
    text-decoration: underline;
}

/*=== Wrapper main block ===*/

.wrapper-main-block {
    background-image: url("../images/homepage/dark-tl.svg"), url("../images/homepage/dark-tr.svg"), url("../images/homepage/dark-bl.svg"), url("../images/homepage/dark-br.svg");
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat;    
    background-color: $primary-color-light;
}

/*=== Quote ===*/

.mission-statement {
    font-family: 'Old Standard TT';
    text-align: center;
    vertical-align: middle;
    padding: 3vw 20vw;
}

.quote {
    font-style: italic;
}

/*=== Carousel ===*/

#owl-demo .item img{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}


/*=== Featured Categories ===*/

.portfolio-descr {
    text-align: center;
    margin: 0 20% 0 20%;
}

.portfolio-descr h2 {
    text-transform: uppercase;
}

.portfolio-descr p {
    font-size: 1em;
}

#featured-items-homepage {
    margin: 0 auto;
}

.row {
    margin: -20px 0 -1px -20px;
    border-bottom: solid 1px transparent;
    box-sizing: border-box;
}

.row:before {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.item {
    margin-bottom: 15px;
    box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
}

.featured-categories article {
    display: block;
    margin: 1em 2em 1em 0;
    padding: 0;
    border: 0;
    border-radius: 5px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.image.fit {
    display: block;
    width: 100%;
}

.image {
    border: 0;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.image img {
    border-radius: 5px 5px 0 0;
    display: block;
    width: 100%;
}

.image:hover {
  -webkit-filter: grayscale(100%);
}

.item h2 {
    font-size: 1em;
    font-weight: 300;
    color: #666;
    line-height: 1.5em;
    vertical-align: middle;
    text-align: center;
}

.featured-categories {
    display: flex;
    flex-wrap: wrap;
}

.featured-categories a {
    color: #fff;
}

.featured-categories a:hover {
    text-decoration: underline;
}

.featured-categories-col1 {
    padding: 20px 0 0 20px;
}

.featured-categories-col2 {
    padding: 20px 0 0 20px;
}

.featured-categories-col3 {
    padding: 20px 0 0 20px;
}


/*=== Featured Articles and Social Media ===*/

#featured-articles-social-media {
    background-image: url("../images/homepage/dark-tl.svg"), url("../images/homepage/dark-tr.svg");
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat;    
}

.featured-articles-cols {
    max-width: 1000px;
    margin: 0 auto;
}

.featured-articles-col1 h3 {
    min-height: 30px;
}

.featured-social-col2 h3 {
    min-height: 30px;
}

.Latest-posts-content-col1 {
    min-height: 300px;
}

.featured-blogs {
    padding: 5px;
}

.featured-blogs h2 {
    font-family: 'Old Standard TT';
}

.featured-blogs p {
    font-family: 'Old Standard TT';
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: normal;
    padding: 5px;
    margin: 0px;
}

.Social-media-content-col2 {
    min-height: 300px;
}


/* -------------------------------------------------- 

Responsive Design

-------------------------------------------------- */

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #owl-demo .item img{
        width: 80%;
}
    
    #featured-items-homepage {
        display: flex;
        justify-content: center;
}
    
    .featured-categories-col1 {
        float: left;
        width: 25%; 
}
    
    .featured-categories-col2 {
        float: left;
        width: 25%; 
}

    .featured-categories-col3 {
        float: left;
        width: 15%; 
}
   
    .featured-articles-col1 {
        float: left;
        padding-right: 20px;
        width: 50%;
}

    .featured-social-col2 {
        float: right;
        padding-left: 20px;
        width: 50%;
}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


}
