/* -------------------------------------------------- 

Base CSS

-------------------------------------------------- */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
	color: #333;
	font: normal 18px/27px 'Fjalla One', Arial Narrow, American Typewriter, Theinhardt, Helvetica, Arial, Verdana, serif;
    margin: 0;
    padding: 5em 0 0 0;
}

h1 {
    font-size: 4vw;
    line-height: 4vw;
}

h2 {
    font-size: 2.5vw;
    line-height: 2.5vw;
}

h3 {

}

h4 {

}

h5 { 

}

ul {

}

a {
	color: #888687;
    text-decoration: none;
}

.wrapper {
    position: relative;
}

.text-white {
    color: #fff;
}

.text-grey {
    color: #63666A;
}


/* -------------------------------------------------- 

Helpers

-------------------------------------------------- */


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* -------------------------------------------------- 

Header

-------------------------------------------------- */

#top-header-box {
    background: rgba(254,254,254,0.8);
    display: block;
    margin: 0 auto;
    position: fixed;
    padding: 10px;
    height: 5em;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

/*=== Nav Panel ===*/

.top-header .menu-link {
    float: left;
    width: calc(10% - 10px);
    position: relative;
    min-height: calc(5em - 20px);
}

.menu-link i {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 40%;
}

.panel {
    background: rgba(0, 0, 0, .8);
    z-index: 9999;
    position: fixed;
    left: -12em; /*or width of your navigation panel*/
    width: 12em; /*should match the above value*/
}

.panel ul {
    font-size: 4vw;
    line-height: 4vw;
    text-transform: uppercase;
    list-style: none;
    -webkit-padding-start: 0.6em;
}

.panel a {
    display: block;
    padding: 0.3em;
}

.panel a:link,
.panel a:visited {
    color: #fff;
}

.panel a:hover,
.panel a:active {
    color: #fff;
    text-decoration: underline;
}

.nav-icon {
    margin-right: 6px;
}

.wrap {
    position: relative;
}


/*=== Logo ===*/

.top-header .logo {
    display: inline-block;
    float: left;
    width: 80%;
    min-height: calc(5em - 20px);
}

.top-header .logo img {
    width: auto;
    max-height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    vertical-align: middle;
}

/*=== Search icon ===*/

.top-header .search-icon {
    float: left;
    width: calc(10% - 10px);
    position: relative;
    min-height: calc(5em - 20px);
}

.search-icon i {
    position: absolute;
    top: 40%;
    right: 0;
}


/* -------------------------------------------------- 

Main Content

-------------------------------------------------- */

/*=== Main Banner ===*/

#main-banner-img img{
    width: 100%;
    height: 100%;
    display: block;
}

.main-banner {
    position: relative;
}

/*=== Main Banner Menu ===*/

.main-banner-menu-items ul {
    position: absolute;
    top: 10px;
    left: 5px;
    list-style-type: none;
    text-transform: uppercase;
}

#banner-menu-items li a {
    color: #fff;
}

#banner-menu-items li a:hover {
    text-decoration: underline;
}

/*=== Wrapper main block ===*/

.wrapper-main-block {
    background-image: url("../images/homepage/dark-tl.svg"), url("../images/homepage/dark-tr.svg"), url("../images/homepage/dark-bl.svg"), url("../images/homepage/dark-br.svg");
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat;    
    background-color: $primary-color-light;
}


/*=== Quote ===*/

.mission-statement {
    font-family: 'Theinhardt';
    font-size: 1.7vw;
    text-align: center;
    vertical-align: middle;
    padding: 3vw 20vw;
}

.quote {
    font-style: italic;
}

/*=== Carousel ===*/

#owl-demo .item img{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
}


/*=== Featured Categories ===*/

.portfolio-descr {
    text-align: center;
    margin: 0 20% 0 20%;
}

.portfolio-descr h2 {
    text-transform: uppercase;
}

.portfolio-descr p {
    font-size: 1em;
}

#featured-items-homepage {
    display: flex;
    justify-content: center;
}

.featured-categories:before {
    transform: skewX(-1);
}

.row {
    margin: -20px 0 -1px -20px;
    border-bottom: solid 1px transparent;
    box-sizing: border-box;
}

.row:before {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.item {
    margin-bottom: 15px;
    box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
}

.featured-categories article {
    display: block;
    margin: 1em 2em 1em 0;
    padding: 0;
    border: 0;
    border-radius: 5px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.image.fit {
    display: block;
    width: 100%;
}

.image {
    border: 0;
}

.image img {
    border-radius: 5px 5px 0 0;
    display: block;
    width: 100%;
}

.item h2 {
    font-size: 1em;
    font-weight: 300;
    color: #666;
    line-height: 1.5em;
    vertical-align: middle;
    text-align: center;
}

.featured-categories {
    display: flex;
    flex-wrap: wrap;
}

.featured-categories a {
    color: #fff;
}

.featured-categories a:hover {
    text-decoration: underline;
}

.featured-categories-col1 {
    padding: 20px 0 0 20px;
}

.featured-categories-col2 {
    padding: 20px 0 0 20px;
}

.featured-categories-col3 {
    padding: 20px 0 0 20px;
}


/*=== Featured Articles and Social Media ===*/

#featured-articles-social-media {
    background-image: url("../images/homepage/dark-tl.svg"), url("../images/homepage/dark-tr.svg");
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat;    
    display: flex;
    justify-content: center;
}

.featured-articles-col1 h3 {
    min-height: 30px;
}

.featured-social-col2 h3 {
    min-height: 30px;
}

.Latest-posts-content-col1 {
    min-height: 300px;
}

.featured-blogs {
    height: 110px;
    position: relative;
    padding: 5px;
}

.featured-blogs p {
    font-family: 'Theinhardt';
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: normal;
    padding: 5px;
    margin: 0px;
}

.Social-media-content-col2 {
    min-height: 300px;
}


/* -------------------------------------------------- 

Site footer

-------------------------------------------------- */

.site-footer {
    padding: 20px;
    justify-content: center;
}

/*=== Logo ===*/

.site-footer .logo img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
}

/*=== Internal + External Links ===*/

.site-footer {
    background-color: #EEEEEE;
}

.site-footer .logo {
    padding: 0px;
}

.footer-links {
    padding: 10px;
    position: relative;
}

.footer-links .footer-copyrights {
    display: block;
    margin: 0 auto;
}

.footer-links .footer-internal-external-links {
    display: block;
    margin: 0 auto;
}

.footer-links p {
    color: #888687;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
}

.footer-internal-external-links ul {
    text-align: center;
}

.footer-internal-external-links li {
    display: inline;
    list-style: none;
    padding: 5px 10px 5px 0px;
    text-align: center;
}


/* -------------------------------------------------- 

Responsive Design

-------------------------------------------------- */

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .featured-categories-col1 {
        float: left;
        width: 25%; }
    
    .featured-categories-col2 {
        float: left;
        width: 25%; }

    .featured-categories-col3 {
        float: left;
        width: 15%; }
   
    .featured-articles-col1 {
        float: left;
        width: 40%;
}

    .featured-social-col2 {
        float: left;
        width: 40%;
}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


}
