/* -------------------------------------------------- 

Buttons

-------------------------------------------------- */

.button-primary {
  font-family: 'Theinhardt';
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: normal;
  color: inherit;
  border: 1px solid;
  background: transparent;
  text-shadow: none;
  box-shadow: none;
  padding: 8px 12px;
  margin: 2em auto;
}

button:hover {
    background-color: #000;
    color: #fff;
}