/* -------------------------------------------------- 

Site footer

-------------------------------------------------- */

.site-footer {
    background-color: $primary-color;
    margin-top: 10px;
    padding-left: 10px;
}

/*=== Internal + External Links ===*/

.footer-links {
    position: relative;
}

.footer-links .footer-copyrights {
    display: flex;
    justify-content: flex-start;
}

.footer-links .footer-internal-external-links {
    display: flex;
    justify-content: flex-start;
}

.footer-links p {
    color: #fff;
    font-size: 12px;
}

.footer-internal-external-links ul {
    text-align: center;
    -webkit-padding-start: 0;
}

.footer-internal-external-links li {
    display: inline;
    list-style: none;
    padding: 5px 10px 0px 0px;
    text-align: center;
}

.footer-internal-external-links li a {
    color: #fff;
}

/*=== Subscribe ===*/









