/* -------------------------------------------------- 

Page Header

-------------------------------------------------- */

.shadow {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.8) 100%);
    height: 100px;
}

.page-header-image img {
    width: 100%;
    height: 100px;
}

.furniture-page-header {
    padding: 20px 20px 0px 20px;
    text-transform: uppercase;
}

.grid-border {
    border: 1px solid #fff;
    border-radius: 0;
    padding: 0;
    margin: 20px;
}

.grid-border2 {
    background: #888687;
    padding: 10px;
}




/* -------------------------------------------------- 

Galleries

-------------------------------------------------- */

.grid {
    max-width: 1500px;
}

.grid img {
    margin-right: 10px;
    margin-bottom: 10px;
}

