/* -------------------------------------------------- 

Header

-------------------------------------------------- */

#top-header-box {
    background: rgba(254,254,254,0.8);
    display: block;
    margin: 0 auto;
    position: fixed;
    padding: 10px;
    height: 5em;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/*=== Nav Panel ===*/

.top-header .menu-link {
    float: left;
    width: calc(10% - 10px);
    position: relative;
    min-height: calc(5em - 20px);
}

.menu-link i {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 40%;
}

.menu-animation {
  -webkit-transform: rotate(0deg); transform: rotate(0deg);
	-webkit-transition: 0.2s ease; transition: 0.2s ease;
}
.menu-animation:hover {
	-webkit-transform: rotate(90deg); transform: rotate(90deg);
}

.panel {
    background: rgba(0, 0, 0, .8);
    z-index: 9999;
    position: fixed;
    left: -12em; /*or width of your navigation panel*/
    width: 12em; /*should match the above value*/
}

.panel ul {
    font-family: 'Montserrat';
    font-size: 4vw;
    line-height: 3.7vw;
    text-transform: uppercase;
    list-style: none;
    -webkit-padding-start: 20px;
    -webkit-margin-before: 0.7em;

}

.panel a {
    display: block;
    padding: 0.3em;
}

.panel a:link,
.panel a:visited {
    color: #fff;
}

.panel a:hover,
.panel a:active {
    color: #fff;
    text-decoration: underline;
}

.nav-icon {
    margin-right: 6px;
}

.wrap {
    position: relative;
}


/*=== Logo ===*/

.top-header .logo {
    display: inline-block;
    float: left;
    width: 80%;
    min-height: calc(5em - 20px);
}

.top-header .logo img {
    width: auto;
    max-height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
    vertical-align: middle;
}

/*=== Search icon ===*/

.top-header .search-icon {
    float: left;
    width: calc(10% - 10px);
    position: relative;
    min-height: calc(5em - 20px);
}

.search-icon i {
    position: absolute;
    top: 40%;
    right: 0;
}

