/* -------------------------------------------------- 

Buttons

-------------------------------------------------- */

$font-stack: Helvetica, sans-serif;
$primary-color: #888687;
$primary-color-light: #EEEEEE;